
<div class="share-buttons-container">
  <div class="share-button-item">
    <%= link_to "Tweet", 
      "https://twitter.com/intent/tweet?url=#{URI.encode_www_form_component(profile_url(@profile))}&text=#{URI.encode_www_form_component("#{@profile.name}さんのプロフィールです！みんな見てね⭐")}&hashtags=Webプロフィール帳",
      class: "twitter-share-button",
      data: { size: "large" } %>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  
  <div class="share-button-item">
    <div class="fb-share-button" data-href="<%= profile_url(@profile) %>" data-layout="button" data-size="large">
        
    </div>
    <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v19.0" 
        nonce="YOUR_NONCE_VALUE"></script>
  </div>
  
  <div class="share-button-item">
    <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
  </div>
</div>

<div id="fb-root"></div>


<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
